{% extends "_layout.html" %}

{% block head %}
    <style>
        .small {
            color: #999;
            font-size: 14px;
        }
        .radios {
            margin: 30px 60px;
            /* width: 300px; */
        }

        .image {
            width: 250px;
            height: 200px;
            background-size: cover;
            float: left;
        }

        .image-small {
            width: 190px;
            height: 150px;
            background-size: cover;
            float: left;
        }

        .descendants {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container" style="margin: 50px auto; width: 1050px">
    <h2>What do the images classified into?</h2>
    <div class="clearfix">
        {% for image_url in image_urls %}
            <div class="image" style="background-image: url('{{ image_url }}')"></div>
        {% endfor %}
    </div>

    <div class="radios">
        <form method="POST" action="/{{ image_id }}{{ url_params }}">
            <input type="hidden" name="u" value="{{ request.args['u'] }}">
            {% for candidate in candidates_info %}
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="new_classname"
                       value="{{ candidate.name }}"
                       id="radio-{{ candidate.name }}"
                       onClick="showDescendants('{{ candidate.name | replace(' ', '-') }}')"
                       {% if candidate.selected %} checked{% endif %}>
                <label class="form-check-label" for="radio-{{ candidate.name }}">
                    {{ candidate.name }}
                    <span class="small">{{ candidate.search_number | readable_number }}</span>
                </label>
            </div>
            {% endfor %}
            <div style="margin: 10px 0 0 0">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>
        </form>
    </div>

    <div>
        {% for candidate in candidates_info %}
        <div id="descendants-{{ candidate.name | replace(' ', '-') }}" class="descendants">
            <h5>Other descendants of {{ candidate.name }}</h5>
            {% if candidate.descendants | length == 0 %}
                <strong>{{ (candidates_info | last).name }}</strong> is
                the only element of <strong>{{ candidate.name }}</strong>.
            {% endif %}

            {% for descendant in candidate.descendants %}
                <strong>{{ descendant.name }}</strong><br>
                <div class="clearfix">
                    {% for image_url in descendant.image_urls[0:5] %}
                        <div class="image-small" style="background-image: url('{{ image_url }}')"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    function showDescendants(classname) {
        $('.descendants').hide();
        $('#descendants-' + classname).show();
    }

    showDescendants('{{ selected_candidate | replace(' ', '-') }}')
</script>

{% endblock %}
